<h2 mat-dialog-title>Добавление элемента </h2>
<mat-dialog-content class="add_form">
  <mat-form-field>
    <mat-label>Введите название</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Введите дату выполнения</mat-label>
    <input matInput type="datetime-local"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Введите описание</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button cdkFocusInitial>Создать</button>
</mat-dialog-actions>