<div class="list">
    <button mat-raised-button (click)="openDialog()">Добавить элемент</button>
    <mat-card appearance="outlined">
        <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, doloremque amet eum quae harum nobis repellat alias consectetur! Perferendis cupiditate eius possimus optio adipisci, distinctio placeat! Maxime dolorem sed qui.</mat-card-content>
        <mat-card-actions>
            <button mat-button>Копировать</button>
            <button mat-button>Удалить</button>
        </mat-card-actions>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, doloremque amet eum quae harum nobis repellat alias consectetur! Perferendis cupiditate eius possimus optio adipisci, distinctio placeat! Maxime dolorem sed qui.</mat-card-content>
        <mat-card-actions>
            <button mat-button>Копировать</button>
            <button mat-button>Удалить</button>
        </mat-card-actions>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, doloremque amet eum quae harum nobis repellat alias consectetur! Perferendis cupiditate eius possimus optio adipisci, distinctio placeat! Maxime dolorem sed qui.</mat-card-content>
        <mat-card-actions>
            <button mat-button>Копировать</button>
            <button mat-button>Удалить</button>
        </mat-card-actions>
      </mat-card>
</div>