<mat-table [dataSource]="elementList" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <mat-header-cell *matHeaderCellDef> Дата создания </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.creationDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="completionDate">
    <mat-header-cell *matHeaderCellDef> Дата выполнения </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.completionDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> описание </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index"> <button mat-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">Переместить</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="moveUp(i)">Вверх</button>
        <button mat-menu-item (click)="moveDown(i)">Вниз</button>
      </mat-menu> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row matRipple
  (click)="openDialog(row)"
  *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>